@page
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>RCM Software</title>
</head>
<body>
    <form runat="server">
        <main class="conteudo">
            <section class="conteudo-painel">
                <div class="conteudo-painel-livre">
                    <img src="~/img/Logo rcm.png" alt="Logo da RCM Software" class="logo-img" />
                </div>
                <form ID="panelForm" runat="server" CssClass="conteudo-painel-form">


                    <!-- <asp:asp:label ID="lblMensagem" runat="server" Text=""></asp:asp:label> -->


                    <asp:label id="lblRazaoSocial" runat="server" for="RazaoSocial">Razão Social</asp:label>
                    <asp:TextBox ID="txtRazaoSocial" runat="server" CssClass="caixa-rs" required></asp:TextBox>
                    <asp:label id="lblCnpj" runat="server" for="CNPJ">CNPJ</asp:label>
                    <asp:TextBox ID="txtCNPJ" runat="server" CssClass="caixa-cnpj" minlength="12" required></asp:TextBox>
                    <asp:label id="lblEmail" for="Email">Email</asp:label>
                    <asp:TextBox ID="txtEmail" runat="server" CssClass="caixa-email" required></asp:TextBox>
                    <asp:label for="Responsavel">Responsável</asp:label>
                    <asp:TextBox ID="txtResponsavel" runat="server" CssClass="caixa-nome-responsavel" required></asp:TextBox>
                    <asp:label for="cpfresponsavel">CPF do Responsável</asp:label>
                    <asp:TextBox ID="txtCpfResponsavel" runat="server" CssClass="caixa-cpf-responsavel" required></asp:TextBox>
                    <asp:label for="telefone">Telefone</asp:label>
                    <asp:TextBox ID="txtTelefone" runat="server" CssClass="caixa-telefone"></asp:TextBox>
                    <asp:label for="login">Login</asp:label>
                    <asp:TextBox ID="txtLogin" runat="server" CssClass="caixa-login" required></asp:TextBox>
                    <asp:label for="senha">Senha</asp:label>
                    <asp:TextBox ID="txtSenha" runat="server" TextMode="Password" CssClass="caixa-senha" required></asp:TextBox>
                    <asp:Button ID="btnProximaPagina" runat="server" Text="Próxima página" CssClass="botao-enviar" OnClick="btnProximaPagina_Click" />
                </form>
            </section>
        </main>
    </form>
</body>
</html>